@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    font-family: 'Montserrat';
}
